* {
  margin: 0;
  padding: 50;
  box-sizing: border-box;
  letter-spacing: 0px;
}

body {
  overflow-x: hidden;
}

:root {
  font-size: 8px;
}

/* @font-face {
  font-family: sans-serif,
  src: url("assets/fonts/Inter")
} */
