/* @font-face 
{
  font-family: DkFrozen;
  src: url('assets/fonts/DkFrozen.otf');
}

@font-face 
{
  font-family: LforL;
  src: url('assets/fonts/LettersFl.ttf');
}

@font-face 
{
  font-family: UniSans;
  src: url('assets/fonts/UniSans.otf');
}

@font-face 
{
  font-family: UniSansL;
  src: url('assets/fonts/UniSansL.ttf');
}

@font-face 
{
  font-family: UniSansR;
  src: url('assets/fonts/UniSansR.ttf');
}
 */


